.light{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.red {
    background-color: rgb(255, 0, 0);
  }
  .yellow {
    background-color: rgb(255, 174, 0);
  }
  .green {
    background-color: rgb(7, 199, 49);
  }
  .trafficlight{
    background-color: black;
    width: fit-content;
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    border-radius: 5%;
    margin-left: 500px;
  }
  .on{
    box-shadow: 0px 0px 50px 15px #e9cd30;
  }
  .button{
    padding-top: 50px;
  }